.header-container {
  height: 20vh;
  margin-top: 2rem;
}

.media-icon,
.square-right-btn {
  font-size: 1.75rem;
  margin: 1rem;
  margin-top: 0;
}

#password,
#email {
  color: black;
}
.error-email {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
  background-color: red;

  font-size: 1rem;
  color: white;
}

#signup-btn:hover,
#signup-btn:not(:hover),
#signup-btn:active {
  border: none;
}
