.list-btn {
  margin-top: 2rem;
  width: 30%;
  padding: 0.25rem 0.5rem;
  border: 2px solid rgb(39 52 68);
  border-radius: 10px;
  background-color: rgb(39 52 68);

  font-size: 1.5rem;

  cursor: pointer;
}

.list-btn:hover {
  border-color: rgb(132 146 166);
}

.list-btn:active {
  border-color: rgb(132 146 166);
  color: rgb(132 146 166);
}
